a {
  text-decoration: none;
  color: #2185d0;
}
a:hover {
  color: grey;
}

.logo-cont {
  display: flex;
  justify-content: space-between;
  margin: 28px;
  align-items: center;
}

.logo {
  color: #2185d0;
  font-size: 42px;
}

.container {
  margin-left: 20%;
  margin-right: 20%;
}

.main-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.grid-child {
  border: 1px solid lightgray;
  flex: 1;
  padding: 2.3rem;
}
.grid-child-det {
  display: flex;
  justify-content: space-evenly;
}
.table-name-cell {
  display: flex;
  align-items: center;
}
.table-name-cell > h4 {
  margin: 15px;
}

.table-name-cell p {
  color: lightGrey;
}
.stats-mob {
  display: none;
  font-weight: 800;
}
.stats-desk {
  display: block;
}

.footer {
  display: flex;
  background: #2185d0;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  margin-top: 2.5rem;
}

.footer-title {
  color: white;
  font-size: 38px;
}

.coin-header {
  display: flex;
  align-items: center;
}
.coin-header h1 {
  margin-right: 15px;
}
.coin-symbol {
  margin-top: 0;
}
.coin-desc {
  padding: 2.5rem !important;
  font-size: 18px;
}
.coin-desc p {
  line-height: 2rem;
}
.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 18rem 0;
}
.error-page h3 {
  color: #2185d0;
}

.grid-child h2 {
  font-size: 22px;
}
.tag-holder-tag {
  margin-bottom: 10px !important;
}
.mob-table-items {
  display: flex;
  justify-content: space-between;
}
.mob-table-items-titles {
  display: flex;
  flex-direction: row;
}
.mob-table-items-titles img {
  width: 5.5rem !important;
  margin-right: 15px;
}
.mob-table-items-prices {
  display: flex;
  flex-direction: column;
}
.mob-table-items-titles-child {
  display: flex;
  flex-direction: column;
}

.mob-table-items-titles-child p {
  color: lightGrey;
}

@media only screen and (max-width: 800px) {
  .table-name-cell {
    display: flex;
    flex-direction: column;
  }
  .desk-table {
    display: none;
  }
  .stats-mob {
    display: block;
  }
  .stats-desk {
    display: none;
  }
  .coin-desc {
    padding: 2rem 0 !important;
    font-size: 18px;
  }
}
